doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css",integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u",crossorigin="anonymous")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
  body
    nav(class="navbar navbar-inverse navbar-fixed-top")
      div(class="container")
        div(cass="navbar-header")
          button(type="button",class="navbar-toggle collapsed",data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar") 
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand", href="/") IOT Web Control
        div(id="navbar",class="navbar-collapse collapse")
          ul(class="nav navbar-nav")
            li(class="active")
              a(href="#") Home
            li
              a(href="/rpi-led") 樹梅派開燈(LED)
            li
              a(href="/camera") 樹梅派相機
            li
              a(href="/arduino-dht11") 溫溼度感測(DHT11)
            li
              a(href="/arduino-18b20") 溫度感測(Keyes 18b20)
            li
              a(href="/arduino-sonic") 超音波感測
            li
              a(href="/arduino-dcmotors") DC馬達控制
            li
              a(href="/arduino-relay") 繼電器(Relay)
    div(class="container")
      block content

